# Raw dataset CSV folders (too large for GitHub)
5G-NIDD/5g-nidd/
BCCC-Mal-NetMem/CSVs/
CICIDS2017/cicids2017/
CICIDS2018/cicids2018/
CICIOMT24/ciciomt2024/
CICIOT23/CICIOT23/

# Temporary Office lock files
~$*

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
venv/
env/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
